
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#appId {
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  border-bottom-width: 1px;
  border-color: #000;
}

.msgPopup {
  position: absolute;
  text-align: center;
  background: #fff;
  border: 1px solid black;
  padding: 3px;
}
